
body {
    background-image: url("../img/escheresque_ste_@2X.png");
    background-color: black;
}

.pagination{
    margin: 0px;
}

.main-container{
    background-color: #181818;
    padding: 15px 10px;
    border: 1px solid #ffffff45;
    border-radius: 10px;
}

.margin-right-auto{
    margin-right: auto;
}

.margin-left-auto{
    margin-left: auto;
}

.Logo {
    max-height: 36px;
    max-width: 36px;
}

nav {
    background-color: #202020;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.navbar{
    border-bottom: 1px solid #ffffff3b;
    padding: 2px 0px;
}

.no-background{
    background-color: transparent;
}

.btn-outline-danger{
    background-color: #363636;
    color: #f1f1f1;
    border-color: rgba(255, 255, 255, 0);
}

.onHover:hover{
    border: 1px solid rgb(255, 255, 255);
}

.non-center-background {
    background-position: unset;
}

.footer-color{
    border-top: 1px solid #ffffff3b;
    background-color: #202020;
}

.bottom-background {
    min-height: 200px;
    min-width: 100%;
}

.comments-container{
    padding: 0px 0px;
}

.comments-padding{
    padding: 0px 10px;
}

.comments{
    padding: 5px;
}

.card {
    margin: 0px auto 5px;
    padding: 0px;
}

.reg-container {
    max-width: 500px;
    color: #f1f1f1;
    background-color: rgba(24, 24, 24, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px 20px;
    margin-top: 12%;
    border-radius: 10px;
}

.reg-container:hover{
    background-color: #181818;
}

.error-page-text{
    font-size: 143px;
    color: red;
}

.button-color{
    color: #f1f1f1;
    background-color: #383838;
    border-color: #dc3545;
}

.main-color{
    color: #f1f1f1;
    background-color: #383838d9;
    border: 1px solid rgba(28, 28, 28, 0.5);
}
