<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/main :: header('Blog')"></head>

<body>
<nav th:replace="fragments/main :: navbar"></nav>

<div class="container reg-container">
    <form method="POST" th:object="${comment}" th:action="@{/comment/create/{id}(id = ${blogId})}">

        <div class="mb-3">
            <label for="Comment" class="form-label" th:text="#{Comment}"></label>
            <input type="text" th:placholder="#{Comment}" class="form-control" id="Comment" th:field="*{description}">
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-danger" th:text="#{Create}"></button>
        </div>
    </form>
</div>

<footer class="mt-auto py-3 footer-color">
    1
</footer>

</body>
</html>