<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/main :: header('Create Blog')"></head>

<body>
<nav th:replace="fragments/main :: navbar"></nav>

<div class="container reg-container">
    <form method="POST" th:object="${blog}" th:action="@{/blog/private/create}">

        <div class="mb-3">
            <label for="title" class="form-label" th:text="#{Title}"></label>
            <input type="text" class="form-control" th:placeholder="#{Title}" id="title" name="title" th:field="*{title}">
        </div>

        <div class="mb-3 ">
            <label for="description" class="form-label" th:text="#{description}"></label>
            <input type="text" class="form-control" th:placeholder="#{description}" id="description" name="description" th:field="*{description}">
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-danger" th:text="#{Create}">Create</button>
        </div>

    </form>
</div>

</body>
</html>