<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/main :: header('Login')"></head>

<body>
<nav th:replace="fragments/main :: navbar"></nav>

<div class="container reg-container">

    <div th:if="${param.error ne null}" class="alert alert-danger" th:text="#{login.error}">
    </div>

    <form method="post" th:action="@{/signIn}">
        <div class="mb-3">
            <label class="form-label" for="name" th:text="#{login.name}"></label>
            <input class="form-control" id="name" name="loginName">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label" th:text="#{login.password}"></label>
            <input type="password" class="form-control" id="password" name="loginPassword">
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-danger" th:text="#{login}"></button>
        </div>
    </form>
</div>
<footer class="mt-auto py-3 footer-color">
    1
</footer>
</body>
</html>