<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/main :: header('Register')"></head>

<body>
<nav th:replace="fragments/main :: navbar"></nav>

<div class="container reg-container">
    <form method="POST" th:object="${user}" th:action="@{/user/create}">

        <div class="mb-3">
            <label class="form-label" for="username" th:text="#{username}">Username</label>
            <input class="form-control" id="username" name="loginName" th:field="*{username}">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label" th:text="#{login.password}"></label>
            <input type="password" class="form-control" id="password" name="loginPassword" th:field="*{password}">
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-danger" th:text="#{Register}">Register</button>
        </div>
    </form>
</div>

<footer class="mt-auto py-3 footer-color">
    1
</footer>

</body>
</html>



